*{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav {
    width: 100%;
    height: 100px;
    background-color: black;
}


.containerLista{
    width: 100%;
    height: 12vh;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: end;
    
}

.lista {
    display: flex;
    padding: 0 200px 0 0;
    gap: 80px;
    font-size: 20px;
}

li:hover {
    cursor: pointer;
    background-color: red;
}

.logo{
    display: flex;
    position: relative;
    left: 100px;
    bottom:  98px;
    width: 100px;
}

.futuroAbrirModal{
    position: fixed;
    right: 470px;
    top: 49px;
}

.futuroAbrirModal:hover{
    background-color: red;
    cursor: pointer;
}





